version: '2'
services:
  zookeeper:
    image: zookeeper:latest
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - 2181:2181
    cpu_shares: 51

  zookeeper-webui:
    image: tobilg/zookeeper-webui
    container_name: zookeeper-webui
    hostname: zookeeper-webui
    ports:
      - 8085:8080
    environment:
      USER: sanitas
      PASSWORD: sanitas
      ZK_DEFAULT_NODE: zookeeper:2181
    cpu_shares: 10

  mesos-m:
    image: mesoscloud/mesos-master
    container_name: mesos-master
    hostname: mesos-master
    ports:
      - 5050:5050
      - 7077:7077
      - 8081:8081
    environment:
      MESOS_PORT: 5050
      MESOS_ZK: zk://zookeeper:2181/mesos
      MESOS_QUORUM: 1
      MESOS_LOG_DIR: /var/log/mesos
      MESOS_WORK_DIR: /var/tmp/mesos
    depends_on:
      - zookeeper
    cpu_shares: 154

  mesos-s:
    image: mesoscloud/mesos-slave
    container_name: mesos-slave
    hostname: mesos-slave
    ports:
      - 5051:5051
      - "4040-4140:4040-4140"
    environment:
      MESOS_PORT: 5051
      MESOS_MASTER: zk://zookeeper:2181/mesos
      MESOS_LOG_DIR: /var/log/mesos
      MESOS_WORK_DIR: /var/tmp/mesos
      MESOS_CONTAINERIZERS: mesos
      MESOS_LAUNCHER: posix
    depends_on:
      - mesos-m
    cpu_shares: 154

  marathon:
      image: mesoscloud/marathon
      container_name: marathon
      hostname: marathon
      ports:
        - 8080:8080
      environment:
        MESOS_PORT: 8080
        MARATHON_MASTER: zk://zookeeper:2181/mesos
        MARATHON_ZK: zk://zookeeper:2181/marathon
      depends_on:
        - mesos-s
      cpu_shares: 154

